@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-bottom-20{
  bottom: -5rem;
}

.-bottom-8{
  bottom: -2rem;
}

.-left-1\/2{
  left: -50%;
}

.-left-10{
  left: -2.5rem;
}

.-left-12{
  left: -3rem;
}

.-left-20{
  left: -5rem;
}

.-left-44{
  left: -11rem;
}

.-left-8{
  left: -2rem;
}

.-right-10{
  right: -2.5rem;
}

.-right-20{
  right: -5rem;
}

.-right-6{
  right: -1.5rem;
}

.-top-0{
  top: -0px;
}

.-top-1\/2{
  top: -50%;
}

.-top-1\/3{
  top: -33.333333%;
}

.-top-10{
  top: -2.5rem;
}

.-top-20{
  top: -5rem;
}

.-top-4{
  top: -1rem;
}

.bottom-0{
  bottom: 0px;
}

.bottom-2{
  bottom: 0.5rem;
}

.bottom-4{
  bottom: 1rem;
}

.bottom-7{
  bottom: 1.75rem;
}

.left-0{
  left: 0px;
}

.left-1\/2{
  left: 50%;
}

.left-160{
  left: 640px;
}

.left-2{
  left: 0.5rem;
}

.left-20{
  left: 5rem;
}

.left-210{
  left: 840px;
}

.left-4{
  left: 1rem;
}

.left-40{
  left: 10rem;
}

.left-52{
  left: 13rem;
}

.left-60{
  left: 15rem;
}

.left-64{
  left: 16rem;
}

.left-7{
  left: 1.75rem;
}

.left-72{
  left: 18rem;
}

.left-8{
  left: 2rem;
}

.right-0{
  right: 0px;
}

.right-20{
  right: 5rem;
}

.right-40{
  right: 10rem;
}

.right-48{
  right: 12rem;
}

.right-56{
  right: 14rem;
}

.right-60{
  right: 15rem;
}

.right-86{
  right: 344px;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.top-10{
  top: 2.5rem;
}

.top-12{
  top: 3rem;
}

.top-175{
  top: 700px;
}

.top-2\/3{
  top: 66.666667%;
}

.top-20{
  top: 5rem;
}

.top-28{
  top: 7rem;
}

.top-32{
  top: 8rem;
}

.top-320{
  top: 1280px;
}

.top-36{
  top: 9rem;
}

.top-4{
  top: 1rem;
}

.top-40{
  top: 10rem;
}

.top-44{
  top: 11rem;
}

.top-48{
  top: 12rem;
}

.top-60{
  top: 15rem;
}

.top-68{
  top: 272px;
}

.top-80{
  top: 20rem;
}

.top-96{
  top: 24rem;
}

.-z-10{
  z-index: -10;
}

.-z-20{
  z-index: -20;
}

.z-0{
  z-index: 0;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.z-30{
  z-index: 30;
}

.z-50{
  z-index: 50;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.col-span-3{
  grid-column: span 3 / span 3;
}

.col-span-4{
  grid-column: span 4 / span 4;
}

.row-span-2{
  grid-row: span 2 / span 2;
}

.mx-6{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-16{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-32{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.-ml-3{
  margin-left: -0.75rem;
}

.-ml-8{
  margin-left: -2rem;
}

.-mt-10{
  margin-top: -2.5rem;
}

.-mt-14{
  margin-top: -3.5rem;
}

.-mt-17{
  margin-top: -68px;
}

.-mt-2{
  margin-top: -0.5rem;
}

.-mt-3{
  margin-top: -0.75rem;
}

.-mt-4{
  margin-top: -1rem;
}

.-mt-6{
  margin-top: -1.5rem;
}

.-mt-8{
  margin-top: -2rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.ml-9{
  margin-left: 2.25rem;
}

.ml-auto{
  margin-left: auto;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.size-10{
  width: 2.5rem;
  height: 2.5rem;
}

.size-105{
  width: 420px;
  height: 420px;
}

.size-130{
  width: 520px;
  height: 520px;
}

.size-2{
  width: 0.5rem;
  height: 0.5rem;
}

.size-40{
  width: 10rem;
  height: 10rem;
}

.size-6{
  width: 1.5rem;
  height: 1.5rem;
}

.size-77{
  width: 308px;
  height: 308px;
}

.size-80{
  width: 20rem;
  height: 20rem;
}

.size-86{
  width: 344px;
  height: 344px;
}

.size-\[6px\]{
  width: 6px;
  height: 6px;
}

.size-full{
  width: 100%;
  height: 100%;
}

.h-0\.5{
  height: 0.125rem;
}

.h-10{
  height: 2.5rem;
}

.h-150{
  height: 600px;
}

.h-160{
  height: 640px;
}

.h-185{
  height: 740px;
}

.h-24{
  height: 6rem;
}

.h-4{
  height: 1rem;
}

.h-66{
  height: 264px;
}

.h-86{
  height: 344px;
}

.h-90{
  height: 360px;
}

.h-96{
  height: 24rem;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.h-xs{
  height: 1px;
}

.h-xxs{
  height: 0.5px;
}

.w-1\/3{
  width: 33.333333%;
}

.w-105{
  width: 420px;
}

.w-110{
  width: 440px;
}

.w-130{
  width: 520px;
}

.w-185{
  width: 740px;
}

.w-2\/3{
  width: 66.666667%;
}

.w-20{
  width: 5rem;
}

.w-210{
  width: 840px;
}

.w-22{
  width: 88px;
}

.w-24{
  width: 6rem;
}

.w-25{
  width: 100px;
}

.w-32{
  width: 8rem;
}

.w-36{
  width: 9rem;
}

.w-44{
  width: 11rem;
}

.w-48{
  width: 12rem;
}

.w-56{
  width: 14rem;
}

.w-60{
  width: 15rem;
}

.w-66{
  width: 264px;
}

.w-68{
  width: 272px;
}

.w-96{
  width: 24rem;
}

.w-98{
  width: 392px;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-2\/3{
  --tw-translate-x: -66.666667%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-12{
  --tw-rotate: 12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-150{
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.list-disc{
  list-style-type: disc;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6{
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.place-items-center{
  place-items: center;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.items-baseline{
  align-items: baseline;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-0{
  gap: 0px;
}

.gap-1{
  gap: 0.25rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-12{
  gap: 3rem;
}

.gap-15{
  gap: 60px;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-7{
  gap: 1.75rem;
}

.gap-8{
  gap: 2rem;
}

.gap-9{
  gap: 2.25rem;
}

.self-end{
  align-self: flex-end;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-visible{
  overflow: visible;
}

.rounded-1{
  border-radius: 4px;
}

.rounded-10{
  border-radius: 40px;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-5{
  border-radius: 20px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.border{
  border-width: 1px;
}

.border-0\.5{
  border-width: 0.2px;
}

.border-secondary-700{
  --tw-border-opacity: 1;
  border-color: rgb(177 0 207 / var(--tw-border-opacity, 1));
}

.bg-\[\#0F172B\]{
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 43 / var(--tw-bg-opacity, 1));
}

.bg-background{
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 43 / var(--tw-bg-opacity, 1));
}

.bg-background\/80{
  background-color: rgb(15 23 43 / 0.8);
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-disneymethod-1\/10{
  background-color: rgb(91 132 103 / 0.1);
}

.bg-disneymethod-2\/10{
  background-color: rgb(187 110 114 / 0.1);
}

.bg-disneymethod-3\/10{
  background-color: rgb(164 154 87 / 0.1);
}

.bg-primary-200\/20{
  background-color: rgb(178 227 255 / 0.2);
}

.bg-primary-400{
  --tw-bg-opacity: 1;
  background-color: rgb(64 184 255 / var(--tw-bg-opacity, 1));
}

.bg-primary-500{
  --tw-bg-opacity: 1;
  background-color: rgb(20 148 255 / var(--tw-bg-opacity, 1));
}

.bg-primary-600{
  --tw-bg-opacity: 1;
  background-color: rgb(0 113 255 / var(--tw-bg-opacity, 1));
}

.bg-primary-600\/60{
  background-color: rgb(0 113 255 / 0.6);
}

.bg-primary-600\/80{
  background-color: rgb(0 113 255 / 0.8);
}

.bg-primary-700{
  --tw-bg-opacity: 1;
  background-color: rgb(0 89 255 / var(--tw-bg-opacity, 1));
}

.bg-primary-700\/20{
  background-color: rgb(0 89 255 / 0.2);
}

.bg-primary-950{
  --tw-bg-opacity: 1;
  background-color: rgb(10 40 97 / var(--tw-bg-opacity, 1));
}

.bg-purple-700{
  --tw-bg-opacity: 1;
  background-color: rgb(126 34 206 / var(--tw-bg-opacity, 1));
}

.bg-secondary-500{
  --tw-bg-opacity: 1;
  background-color: rgb(231 33 255 / var(--tw-bg-opacity, 1));
}

.bg-secondary-600{
  --tw-bg-opacity: 1;
  background-color: rgb(212 0 255 / var(--tw-bg-opacity, 1));
}

.bg-secondary-600\/60{
  background-color: rgb(212 0 255 / 0.6);
}

.bg-secondary-600\/80{
  background-color: rgb(212 0 255 / 0.8);
}

.bg-secondary-700{
  --tw-bg-opacity: 1;
  background-color: rgb(177 0 207 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/10{
  background-color: rgb(255 255 255 / 0.1);
}

.bg-white\/15{
  background-color: rgb(255 255 255 / 0.15);
}

.bg-white\/20{
  background-color: rgb(255 255 255 / 0.2);
}

.bg-white\/30{
  background-color: rgb(255 255 255 / 0.3);
}

.bg-white\/40{
  background-color: rgb(255 255 255 / 0.4);
}

.bg-white\/5{
  background-color: rgb(255 255 255 / 0.05);
}

.bg-white\/60{
  background-color: rgb(255 255 255 / 0.6);
}

.bg-opacity-30{
  --tw-bg-opacity: 0.3;
}

.bg-opacity-40{
  --tw-bg-opacity: 0.4;
}

.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-br{
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-r{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-t{
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-secondary-700{
  --tw-gradient-from: #b100cf var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(177 0 207 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white{
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white\/20{
  --tw-gradient-from: rgb(255 255 255 / 0.2) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white\/5{
  --tw-gradient-from: rgb(255 255 255 / 0.05) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-white\/5{
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.05) var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.via-white\/70{
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.7) var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.to-primary-700{
  --tw-gradient-to: #0059ff var(--tw-gradient-to-position);
}

.to-primary-800\/20{
  --tw-gradient-to: rgb(0 66 189 / 0.2) var(--tw-gradient-to-position);
}

.to-white\/0{
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
}

.to-white\/5{
  --tw-gradient-to: rgb(255 255 255 / 0.05) var(--tw-gradient-to-position);
}

.bg-clip-text{
  -webkit-background-clip: text;
          background-clip: text;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-10{
  padding: 2.5rem;
}

.p-2{
  padding: 0.5rem;
}

.p-3{
  padding: 0.75rem;
}

.p-4{
  padding: 1rem;
}

.p-6{
  padding: 1.5rem;
}

.p-small{
  padding: 2px;
}

.p-xs{
  padding: 1px;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-14{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pb-1{
  padding-bottom: 0.25rem;
}

.pl-10{
  padding-left: 2.5rem;
}

.pl-12{
  padding-left: 3rem;
}

.pl-4{
  padding-left: 1rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pt-1{
  padding-top: 0.25rem;
}

.pt-15{
  padding-top: 60px;
}

.pt-2{
  padding-top: 0.5rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-7{
  padding-top: 1.75rem;
}

.pt-8{
  padding-top: 2rem;
}

.pt-9{
  padding-top: 2.25rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.align-middle{
  vertical-align: middle;
}

.font-anton{
  font-family: Anton;
}

.font-inter{
  font-family: Inter;
}

.text-16{
  font-size: 64px;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4{
  font-size: 16px;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.leading-120p{
  line-height: 120%;
}

.leading-150p{
  line-height: 150%;
}

.leading-170p{
  line-height: 170%;
}

.tracking-wide{
  letter-spacing: 0.025em;
}

.tracking-wider{
  letter-spacing: 0.05em;
}

.text-blue-500{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}

.text-neutral-100{
  --tw-text-opacity: 1;
  color: rgb(231 231 231 / var(--tw-text-opacity, 1));
}

.text-primary-200{
  --tw-text-opacity: 1;
  color: rgb(178 227 255 / var(--tw-text-opacity, 1));
}

.text-primary-300{
  --tw-text-opacity: 1;
  color: rgb(48 79 106 / var(--tw-text-opacity, 1));
}

.text-primary-400{
  --tw-text-opacity: 1;
  color: rgb(64 184 255 / var(--tw-text-opacity, 1));
}

.text-primary-500{
  --tw-text-opacity: 1;
  color: rgb(20 148 255 / var(--tw-text-opacity, 1));
}

.text-primary-700{
  --tw-text-opacity: 1;
  color: rgb(0 89 255 / var(--tw-text-opacity, 1));
}

.text-secondary-500{
  --tw-text-opacity: 1;
  color: rgb(231 33 255 / var(--tw-text-opacity, 1));
}

.text-transparent{
  color: transparent;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-white\/100{
  color: rgb(255 255 255 / 1);
}

.text-white\/30{
  color: rgb(255 255 255 / 0.3);
}

.text-white\/50{
  color: rgb(255 255 255 / 0.5);
}

.text-white\/70{
  color: rgb(255 255 255 / 0.7);
}

.text-white\/80{
  color: rgb(255 255 255 / 0.8);
}

.text-white\/90{
  color: rgb(255 255 255 / 0.9);
}

.underline{
  text-decoration-line: underline;
}

.opacity-30{
  opacity: 0.3;
}

.opacity-45{
  opacity: 0.45;
}

.opacity-50{
  opacity: 0.5;
}

.opacity-80{
  opacity: 0.8;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-1{
  --tw-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
  --tw-shadow-colored: 0px 0px 50px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-buttonshadow{
  --tw-shadow: 0px 4px 70px 0px rgba(212, 0, 255, 0.50);
  --tw-shadow-colored: 0px 4px 70px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-cardw{
  --tw-shadow: 0px 4px 50px 0px rgba(231, 33, 255, 0.25);
  --tw-shadow-colored: 0px 4px 50px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-pcps{
  --tw-shadow: 0px 2px 50px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0px 2px 50px 2px var(--tw-shadow-color), 0px 4px 4px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-screenapp{
  --tw-shadow: -10px 40px 50px 0px rgba(0, 0, 0, 0.80);
  --tw-shadow-colored: -10px 40px 50px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur-100{
  --tw-blur: blur(100px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-1100{
  --tw-blur: blur(1100px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-130{
  --tw-blur: blur(130px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-200{
  --tw-blur: blur(200px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-250{
  --tw-blur: blur(250px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-300{
  --tw-blur: blur(300px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-400{
  --tw-blur: blur(400px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-600{
  --tw-blur: blur(600px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-800{
  --tw-blur: blur(800px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-md{
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-sm{
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-xl{
  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.text-display1{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.7) var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  -webkit-background-clip: text;
          background-clip: text;
  font-family: Anton;
  font-size: 104px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
  color: transparent;
  opacity: 0.4;
}

@media (min-width: 768px){
  .text-display1{
    font-size: 192px;
    line-height: 120%;
    letter-spacing: 5%;
  }
}

@media (min-width: 1024px){
  .text-display1{
    font-size: 256px;
  }
}

@media (min-width: 1280px){
  .text-display1{
    font-size: 400px;
  }
}

@media (min-width: 1536px){
  .text-display1{
    letter-spacing: 2px;
  }
}

.text-display2{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.7) var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  -webkit-background-clip: text;
          background-clip: text;
  font-family: Anton;
  font-size: 88px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.025em;
  color: transparent;
  opacity: 0.4;
}

@media (min-width: 768px){
  .text-display2{
    font-size: 150px;
    line-height: 120%;
    letter-spacing: -4px;
  }
}

@media (min-width: 1024px){
  .text-display2{
    font-size: 204px;
    letter-spacing: -0.025em;
  }
}

@media (min-width: 1280px){
  .text-display2{
    font-size: 330px;
  }
}

.text-h1{
  font-family: Anton;
  font-size: 96px;
  font-weight: 400;
  line-height: 120%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-h2{
  font-family: Anton;
  font-size: 64px;
  font-weight: 400;
  line-height: 120%;
  color: rgb(255 255 255 / 0.3);
}

.text-h3{
  font-family: Anton;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
  line-height: 120%;
}

.text-h4{
  font-family: Anton;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
  color: rgb(255 255 255 / 0.6);
}

.text-h5{
  font-family: Anton;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  line-height: 120%;
  color: rgb(255 255 255 / 0.6);
}

.text-h6{
  font-family: Anton;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  line-height: 120%;
  color: rgb(255 255 255 / 0.6);
}

.text-sub1{
  font-family: Inter;
  font-size: 32px;
  font-weight: 300;
  line-height: 150%;
  color: rgb(255 255 255 / 0.8);
}

.text-sub2{
  font-family: Inter;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  line-height: 150%;
  color: rgb(255 255 255 / 0.8);
}

.text-body1{
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  line-height: 170%;
  color: rgb(255 255 255 / 0.8);
}

.text-body2{
  font-family: Inter;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  line-height: 155%;
  color: rgb(255 255 255 / 0.8);
}

.text-button1{
  font-family: Inter;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  line-height: 120%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-button2{
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  line-height: 120%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-caption{
  font-family: Inter;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  line-height: 170%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-overline{
  font-family: Inter;
  font-size: 10px;
  font-weight: 300;
  line-height: 140%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.card {
  position: relative;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
  border-radius: 20px;
}

.card:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #e721ff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(231 33 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(231 33 255 / 0.3) var(--tw-gradient-to-position);
  -webkit-mask: linear-gradient(#f00 0 0) content-box, linear-gradient(#f00 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

.hover\:animate-\[pulse_0\.5s_ease-in-out_infinite\]:hover{
  animation: pulse 0.5s ease-in-out infinite;
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

.hover\:animate-pulse:hover{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.hover\:border-0\.5:hover{
  border-width: 0.2px;
}

.hover\:border-primary-400:hover{
  --tw-border-opacity: 1;
  border-color: rgb(64 184 255 / var(--tw-border-opacity, 1));
}

.hover\:text-blue-700:hover{
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:shadow-buttonhover:hover{
  --tw-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.50);
  --tw-shadow-colored: 0px 6px 8px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-cardshadowhover:hover{
  --tw-shadow: 0px 16px 80px 0px rgba(231, 33, 255, 0.50);
  --tw-shadow-colored: 0px 16px 80px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-skillhover:hover{
  --tw-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.40);
  --tw-shadow-colored: 0px 6px 15px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px){
  .sm\:top-6{
    top: 1.5rem;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:hidden{
    display: none;
  }

  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 768px){
  .md\:-left-14{
    left: -3.5rem;
  }

  .md\:bottom-10{
    bottom: 2.5rem;
  }

  .md\:left-110{
    left: 440px;
  }

  .md\:right-0{
    right: 0px;
  }

  .md\:top-0{
    top: 0px;
  }

  .md\:top-10{
    top: 2.5rem;
  }

  .md\:top-15{
    top: 60px;
  }

  .md\:top-20{
    top: 5rem;
  }

  .md\:top-40{
    top: 10rem;
  }

  .md\:top-60{
    top: 15rem;
  }

  .md\:col-span-4{
    grid-column: span 4 / span 4;
  }

  .md\:-mt-0{
    margin-top: -0px;
  }

  .md\:-mt-20{
    margin-top: -5rem;
  }

  .md\:-mt-60{
    margin-top: -15rem;
  }

  .md\:-mt-8{
    margin-top: -2rem;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:mt-10{
    margin-top: 2.5rem;
  }

  .md\:mt-12{
    margin-top: 3rem;
  }

  .md\:block{
    display: block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:grid{
    display: grid;
  }

  .md\:hidden{
    display: none;
  }

  .md\:size-105{
    width: 420px;
    height: 420px;
  }

  .md\:size-106{
    width: 424px;
    height: 424px;
  }

  .md\:size-130{
    width: 520px;
    height: 520px;
  }

  .md\:size-2{
    width: 0.5rem;
    height: 0.5rem;
  }

  .md\:size-72{
    width: 18rem;
    height: 18rem;
  }

  .md\:size-86{
    width: 344px;
    height: 344px;
  }

  .md\:h-106{
    height: 424px;
  }

  .md\:h-112{
    height: 448px;
  }

  .md\:h-185{
    height: 740px;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-105{
    width: 420px;
  }

  .md\:w-120{
    width: 480px;
  }

  .md\:w-140{
    width: 560p;
  }

  .md\:w-150{
    width: 600px;
  }

  .md\:w-175{
    width: 700px;
  }

  .md\:w-2\/3{
    width: 66.666667%;
  }

  .md\:w-24{
    width: 6rem;
  }

  .md\:w-40{
    width: 10rem;
  }

  .md\:w-52{
    width: 13rem;
  }

  .md\:w-56{
    width: 14rem;
  }

  .md\:w-64{
    width: 16rem;
  }

  .md\:w-68{
    width: 272px;
  }

  .md\:w-80{
    width: 20rem;
  }

  .md\:w-90{
    width: 360px;
  }

  .md\:w-96{
    width: 24rem;
  }

  .md\:max-w-175{
    max-width: 700px;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:items-center{
    align-items: center;
  }

  .md\:justify-between{
    justify-content: space-between;
  }

  .md\:gap-0{
    gap: 0px;
  }

  .md\:gap-10{
    gap: 2.5rem;
  }

  .md\:gap-15{
    gap: 60px;
  }

  .md\:gap-16{
    gap: 4rem;
  }

  .md\:gap-2{
    gap: 0.5rem;
  }

  .md\:gap-3{
    gap: 0.75rem;
  }

  .md\:gap-4{
    gap: 1rem;
  }

  .md\:gap-5{
    gap: 1.25rem;
  }

  .md\:gap-6{
    gap: 1.5rem;
  }

  .md\:gap-7{
    gap: 1.75rem;
  }

  .md\:gap-8{
    gap: 2rem;
  }

  .md\:gap-9{
    gap: 2.25rem;
  }

  .md\:rounded-2xl{
    border-radius: 1rem;
  }

  .md\:rounded-xl{
    border-radius: 0.75rem;
  }

  .md\:from-white\/10{
    --tw-gradient-from: rgb(255 255 255 / 0.1) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .md\:from-white\/15{
    --tw-gradient-from: rgb(255 255 255 / 0.15) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .md\:via-white\/5{
    --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.05) var(--tw-gradient-via-position), var(--tw-gradient-to);
  }

  .md\:p-10{
    padding: 2.5rem;
  }

  .md\:p-3{
    padding: 0.75rem;
  }

  .md\:p-4{
    padding: 1rem;
  }

  .md\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .md\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .md\:pl-10{
    padding-left: 2.5rem;
  }

  .md\:pt-10{
    padding-top: 2.5rem;
  }

  .md\:pt-12{
    padding-top: 3rem;
  }

  .md\:pt-15{
    padding-top: 60px;
  }

  .md\:pt-4{
    padding-top: 1rem;
  }

  .md\:text-center{
    text-align: center;
  }

  .md\:font-anton{
    font-family: Anton;
  }

  .md\:font-inter{
    font-family: Inter;
  }

  .md\:text-26{
    font-size: 104px;
  }

  .md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4{
    font-size: 16px;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .md\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }

  .md\:blur-400{
    --tw-blur: blur(400px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .md\:blur-600{
    --tw-blur: blur(600px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .md\:blur-800{
    --tw-blur: blur(800px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

@media (min-width: 1024px){
  .lg\:-bottom-20{
    bottom: -5rem;
  }

  .lg\:-right-20{
    right: -5rem;
  }

  .lg\:bottom-0{
    bottom: 0px;
  }

  .lg\:bottom-16{
    bottom: 4rem;
  }

  .lg\:left-150{
    left: 600px;
  }

  .lg\:left-16{
    left: 4rem;
  }

  .lg\:left-160{
    left: 640px;
  }

  .lg\:right-20{
    right: 5rem;
  }

  .lg\:top-0{
    top: 0px;
  }

  .lg\:top-48{
    top: 12rem;
  }

  .lg\:my-32{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .lg\:-ml-16{
    margin-left: -4rem;
  }

  .lg\:-ml-20{
    margin-left: -5rem;
  }

  .lg\:-mt-10{
    margin-top: -2.5rem;
  }

  .lg\:-mt-15{
    margin-top: -60px;
  }

  .lg\:-mt-16{
    margin-top: -4rem;
  }

  .lg\:-mt-20{
    margin-top: -5rem;
  }

  .lg\:-mt-28{
    margin-top: -7rem;
  }

  .lg\:-mt-4{
    margin-top: -1rem;
  }

  .lg\:-mt-5{
    margin-top: -1.25rem;
  }

  .lg\:-mt-96{
    margin-top: -24rem;
  }

  .lg\:mt-12{
    margin-top: 3rem;
  }

  .lg\:mt-15{
    margin-top: 60px;
  }

  .lg\:block{
    display: block;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:size-110{
    width: 440px;
    height: 440px;
  }

  .lg\:size-130{
    width: 520px;
    height: 520px;
  }

  .lg\:h-130{
    height: 520px;
  }

  .lg\:h-150{
    height: 600px;
  }

  .lg\:h-240{
    height: 960px;
  }

  .lg\:w-105{
    width: 420px;
  }

  .lg\:w-106{
    width: 424px;
  }

  .lg\:w-110{
    width: 440px;
  }

  .lg\:w-120{
    width: 480px;
  }

  .lg\:w-130{
    width: 520px;
  }

  .lg\:w-150{
    width: 600px;
  }

  .lg\:w-160{
    width: 640px;
  }

  .lg\:w-175{
    width: 700px;
  }

  .lg\:w-185{
    width: 740px;
  }

  .lg\:w-190{
    width: 760px;
  }

  .lg\:w-200{
    width: 800px;
  }

  .lg\:w-210{
    width: 840px;
  }

  .lg\:w-240{
    width: 960px;
  }

  .lg\:w-270{
    width: 1080px;
  }

  .lg\:w-32{
    width: 8rem;
  }

  .lg\:w-36{
    width: 9rem;
  }

  .lg\:w-52{
    width: 13rem;
  }

  .lg\:w-60{
    width: 15rem;
  }

  .lg\:w-80{
    width: 20rem;
  }

  .lg\:w-96{
    width: 24rem;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:scale-110{
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:gap-10{
    gap: 2.5rem;
  }

  .lg\:gap-12{
    gap: 3rem;
  }

  .lg\:gap-15{
    gap: 60px;
  }

  .lg\:gap-16{
    gap: 4rem;
  }

  .lg\:gap-17{
    gap: 68px;
  }

  .lg\:gap-20{
    gap: 5rem;
  }

  .lg\:gap-24{
    gap: 6rem;
  }

  .lg\:gap-3{
    gap: 0.75rem;
  }

  .lg\:gap-32{
    gap: 8rem;
  }

  .lg\:gap-5{
    gap: 1.25rem;
  }

  .lg\:gap-6{
    gap: 1.5rem;
  }

  .lg\:gap-7{
    gap: 1.75rem;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:rounded-10{
    border-radius: 40px;
  }

  .lg\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .lg\:rounded-5{
    border-radius: 20px;
  }

  .lg\:p-6{
    padding: 1.5rem;
  }

  .lg\:px-14{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .lg\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:px-28{
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .lg\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .lg\:px-40{
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .lg\:px-60{
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .lg\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:pl-20{
    padding-left: 5rem;
  }

  .lg\:pr-16{
    padding-right: 4rem;
  }

  .lg\:pt-10{
    padding-top: 2.5rem;
  }

  .lg\:pt-20{
    padding-top: 5rem;
  }

  .lg\:pt-28{
    padding-top: 7rem;
  }

  .lg\:pt-32{
    padding-top: 8rem;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-35{
    font-size: 140px;
  }

  .lg\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-4{
    font-size: 16px;
  }

  .lg\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }

  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .lg\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:text-white\/80{
    color: rgb(255 255 255 / 0.8);
  }

  .lg\:blur-300{
    --tw-blur: blur(300px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .lg\:blur-400{
    --tw-blur: blur(400px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .lg\:blur-800{
    --tw-blur: blur(800px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

@media (min-width: 1280px){
  .xl\:left-20{
    left: 5rem;
  }

  .xl\:left-270{
    left: 1080px;
  }

  .xl\:left-28{
    left: 7rem;
  }

  .xl\:top-28{
    top: 7rem;
  }

  .xl\:top-5{
    top: 1.25rem;
  }

  .xl\:top-86{
    top: 344px;
  }

  .xl\:-ml-4{
    margin-left: -1rem;
  }

  .xl\:-mt-10{
    margin-top: -2.5rem;
  }

  .xl\:-mt-17{
    margin-top: -68px;
  }

  .xl\:-mt-20{
    margin-top: -5rem;
  }

  .xl\:-mt-28{
    margin-top: -7rem;
  }

  .xl\:block{
    display: block;
  }

  .xl\:hidden{
    display: none;
  }

  .xl\:size-4{
    width: 1rem;
    height: 1rem;
  }

  .xl\:h-240{
    height: 960px;
  }

  .xl\:w-130{
    width: 520px;
  }

  .xl\:w-160{
    width: 640px;
  }

  .xl\:w-96{
    width: 24rem;
  }

  .xl\:max-w-200{
    max-width: 800px;
  }

  .xl\:gap-1{
    gap: 0.25rem;
  }

  .xl\:gap-6{
    gap: 1.5rem;
  }

  .xl\:rounded-md{
    border-radius: 0.375rem;
  }

  .xl\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xl\:px-30{
    padding-left: 120px;
    padding-right: 120px;
  }

  .xl\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xl\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .xl\:pt-10{
    padding-top: 2.5rem;
  }

  .xl\:pt-20{
    padding-top: 5rem;
  }

  .xl\:text-16{
    font-size: 64px;
  }

  .xl\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1536px){
  .\32xl\:w-150{
    width: 600px;
  }

  .\32xl\:w-210{
    width: 840px;
  }

  .\32xl\:text-65{
    font-size: 240px;
  }
}

